@tailwind base;
@tailwind components;
@tailwind utilities;

.timeline>li:last-child {
  padding-bottom: 8px;
}

.timeline>li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 4px;
  bottom: 0;
  background-color: #6a6a6a;
  width: 1px;
}

.timeline>li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #6a6a6a;
}
